name: Pull Request

on:
  pull_request_target:
    branches: ["main"]
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  cc:
    name: Conventional Title
    runs-on: ubuntu-latest
    permissions:
        statuses: write
    steps:
        - name: Check that title follows Conventional Commits
          uses: aslafy-z/conventional-pr-title-action@v3
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/labeler@v6
